p{
	line-height: 25px;
	font-family:'Proxima Nova', system-ui, sans-serif;
}
h1,h2,h3,h4,h5,h6{
	font-family:'Proxima Nova', system-ui, sans-serif;
}

/*==========================servicepages===========================================*/

/*==========================balance nutritions===========================================*/
.titalabout{

  
  text-shadow: 2px 2px #B1C903;
}

.titalsection >h1{
	color: black;
	
	
}
.Malnutritionpra>p{
	margin-top: 50px;
	text-align: justify;
}
.secoparaniublance>h3{
	text-align: center;
	margin-top: 30px;
	line-height: 25px;
}
.secoparaniublance{
	text-align: justify !important;

}


/*==========================/balance nutritions===========================================*/

/*==========================physical activitiescont===========================================*/

.physicalactivitiescont> p{
	 margin-top: 50px;
	text-align: justify;
}
.physicalactivitiesimage>img{
	margin-top: -50px;
	position: relative;
	z-index: -1;
}
.flowchartphysicalactivities> .row>h3{
	text-align: center;
	margin-top: 30px;


}

/*==========================/physical activitiescont===========================================*/


/*==========================stress managecont===========================================*/

.stressmanagecont>.row>.col-md-6> p{
	text-align: justify;
	 margin-top: 50px;

}
.fullpara>.row>p{
	text-align: justify;
	margin-top: -15px;
	margin-bottom: 50px;
}

/*==========================/stress managecont===========================================*/

/*==========================eliminationoftoxins======================================*/

.eliminationoftoxins>p{
	text-align: justify;
	margin-top: 50px;
}

/*==========================/eliminationoftoxins======================================*/
